### Classes in Python - OOPS

In [1]:
age =28
print(type(age))

<class 'int'>

In [2]:
h = 5.6
print(type(h))

<class 'float'>

### Create a custom class

In [3]:
class Person:

    #constructor function 
    def __init__(self,age,name,gender,occupation):
        self.name =name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    # User Defined Function
    def talk(self):
        print(f'Hi There My name is {self.name}')
        print(f'My Age is {self.age}')
        print(f'I am {self.gender}')
        print(f'I work as {self.occupation}')

In [4]:
p1 = Person(name='Dipika',age=32, gender='Female', occupation='Web Analyst')

In [5]:
p1

In [6]:
p1.age

32

In [7]:
p1.occupation

'Web Analyst'

In [8]:
p1.talk()

Hi There My name is Dipika
My Age is 32
I am Female
I work as Web Analyst

In [9]:
p2 = Person(name='Rahul',age= 29, gender='M',occupation='SAP' )

In [10]:
p2.talk()

Hi There My name is Rahul
My Age is 29
I am M
I work as SAP

## Bank Account Example

In [11]:
class account:

    #add init constructor
    def __init__(self,ac_no,name,bal=0):
        self.ac_no = ac_no
        self.name = name
        self.bal = bal
    
    # Function for depositing Money
    def deposit(self,amt):
        self.bal = self.bal + amt
        print(f'Amount of {amt} INR has been deposited to your bank account number : {self.ac_no}')
        print(f'Current Balance : {self.bal} INR')
    
    # Function to withdraw amount
    def withdraw(self,amt):
        if self.bal >= amt:
            self.bal = self.bal - amt
            print(f'Amount of {amt} INR withdrawn from your bank account number : {self.ac_no}')
            print(f'Current Balance : {self.bal} INR')
        else:
            print(f'Insufficient Balance in account {self.ac_no}. Current Balance in your account is {self.bal} INR')
    
    # Function to transfer the money
    def transfer(self, amt, ac2):
        if self.bal >= amt:
            self.bal = self.bal - amt
            ac2.bal = ac2.bal + amt
            print(f'Amount of {amt} INR Transferred to account number : {ac2.ac_no} from your account : {self.ac_no}')
            print(f'Current Balance : {self.bal} INR')
        else:
            print(f'Insufficient balance in account {self.ac_no}. Current balance in your account is{self.bal} INR')

In [12]:
a1 = account(ac_no=123, name='Sarthak Sharma', bal=5000)

In [13]:
a1.ac_no

123

In [14]:
a1.bal

5000

In [15]:
a1.deposit(3000)

Amount of 3000 INR has been deposited to your bank account number : 123
Current Balance : 8000 INR

In [16]:
a1.withdraw(2000)

Amount of 2000 INR withdrawn from your bank account number : 123
Current Balance : 6000 INR

In [18]:
a2 = account(ac_no=456, name='Raman Verma')

In [19]:
a1.transfer(amt=2000,ac2=a2)

Amount of 2000 INR Transferred to account number : 456 from your account : 123
Current Balance : 4000 INR