In [1]:
print("hello all")

hello all

In [2]:
a =[1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [3]:
type(a)

list

In [4]:
len(a)

5

In [5]:
a.append(20)

In [6]:
a

[1, 2, 3, 4, 5, 20]

In [7]:
max(a)

20

In [8]:
sum(a)

35

In [10]:
def add(a,b):
    c= a+b
    return c

In [11]:
add(5,10)

15

In [12]:
add(3,4,5)

TypeError: add() takes 2 positional arguments but 3 were given

### Multiple Arguments in a Function

In [13]:
def arguments(*args):
    for i in args:
        print(i)

In [14]:
arguments(4,5,6,7,8)

4
5
6
7
8

In [15]:
def add_many(*nums):
    s=0
    for i in nums:
        s=s+i
    return s

In [16]:
add_many(4,5,6,7)

22

### Product of Multiple Numbers

In [17]:
def product_many(*nums):
    p=1
    for i in nums:
        p =p*i
    return p

In [18]:
product_many(3,4,5)

60

### Keyword Arguments - Dictionary
##### {Key1:value1,value2,.....}

In [19]:
dct = { 1:'Dipika', 2:'Rahul', 3:'Priya'}
dct

{1: 'Dipika', 2: 'Rahul', 3: 'Priya'}

In [20]:
dct.items()

dict_items([(1, 'Dipika'), (2, 'Rahul'), (3, 'Priya')])

In [22]:
def keyword_arguments(**kwargs):
    for key,value in kwargs.items():
        print(f'{key}:{value}')

In [23]:
keyword_arguments(name = 'Dipika', age ='23', email = 'dpksomvanshi@gmail.com')

name:Dipika
age:23
email:dpksomvanshi@gmail.com

### Creation of User Data

In [24]:
def hypoteneous(a,b):
    c= (a**2 + b**2)**(1/2)
    return c

In [25]:
h1 = hypoteneous(3,4)

In [26]:
h1

5.0